<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>Wishlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8cecad01cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "/public/assets/styles.css"/>
    <script src="/public/assets/scripts.js"></script>
</head> 
  
<body>
    <div class="text-center">
        <h1 class="display-2 mt-4"><%= name %>'s Wishlist</h1>
        <div class="buttons">
            <button type="button" class="btn btn-primary btn-lg" onclick="toggleDisplay('add-form')">New Item</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="toggleDisplay('share')">Share Wishlist</button>
            <a href="/logout" class="btn btn-primary btn-lg">Log Out</a>
        </div>
    </div>
    <div id="share" class="text-center">
        <input type="text" id="share-link" value="https://node-wishlist-app.herokuapp.com/users/<%= username %>" readonly>
        <button type="button" class="btn btn-primary align-bottom" title="Copy to Clipboard" onclick="copy('share-link')">Copy</button>
        <button type="button" class="btn btn-primary align-bottom" onclick="toggleDisplay('share')">Done</button>
    </div>
    <div class="form" id="add-form">
        <form method="POST" action="/users/<%= username %>">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="link" name="link" placeholder="Link">
            </div>
            <button type="submit" class="btn btn-primary">Add Item</button>
            <button type="reset" class="btn btn-primary" onclick="toggleDisplay('add-form')">Cancel</button>
        </form>
    </div>
    <div class="items">
        <% for (i = 0; i < items.length; i++) { %>
            <div class="card">
                <form method="POST" action="/users/<%= username %>/<%= i %>?_method=DELETE">
                    <span><%= items[i].name %>
                        <% if (items[i].link) { %>
                            - <a href=<%= items[i].link %> target="_blank">Link</a>
                        <% }%>
                    </span>
                    <div class="icons">
                        <button type="submit" class="btn btn-link float-right" title="Delete Item">
                            <span class="far fa-trash-alt fa-lg"></span>
                        </button>
                        <button type="button" class="btn btn-link float-right" title="Edit Item" onclick="toggleDisplay('edit-form-<%= i %>')">
                            <span class="fas fa-pencil-alt fa-lg"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="form edit-form" id="edit-form-<%= i %>">
                <form method="POST" action="/users/<%= username %>/<%= i %>?_method=PUT">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= items[i].name %>" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="link" name="link" placeholder="Link" value="<%= items[i].link %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-primary" onclick="toggleDisplay('edit-form-<%= i %>')">Cancel</button>
                </form>
            </div>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body> 
  
</html> 